#main {
  position: absolute;
  width: 310px;
  height: 310px;
}

div.cell {
  background: #abd;
  border: 1px dashed white;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 5em;
  line-height: 100px;
}

.player-0 {
  color: #dec;
}

.player-1 {
  color: #ced;
}

.winner {
  color: red;
}

#winner-placeholder {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}