#main {
  position: absolute;
  width: 40%;
  height: 40%;
}

div.cell {
  background: #abd;
  border: 1px dashed white;
  float: left;
  width: 25%;
  height: 25%;
  text-align: center;
  font-size: 5em;
  line-height: 100%;
}

.player-0 {
  color: #dec;
}

.player-1 {
  color: #ced;
}

.winner {
  color: red;
}