body {
  font-family: Verdana, sans-serif;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0da;
  top: 0;
  left: 0;
  text-align: center;
  color: #074;
}

div.scene {
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  padding: 20px;
}

div.board-cells {
  width: 306px;
  height: 306px;
  margin: 0 auto;
}

div.cell {
  background: #0b9;
  border: 1px dashed white;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 5em;
  line-height: 100px;
  cursor: pointer;
}

div.cell:hover {
  background: #0a8;
}

div.player-names {
}

div.player-names div {
  float: left;
  width: 50%;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 30px;
}

div.player-names div:first-child {
  text-align: left;
  padding-left: 0;
}

div.player-names div:last-child {
  padding-right: 0;
  text-align: right;
}

div.player-names div.on-turn {
  font-size: 30px;
}

.player-0 {
  color: white;
}

.player-1 {
  color: #444;
}

.winner {
  color: red;
}

#winner-placeholder div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.4);
}

#winner-placeholder form {
  background: rgba(255,255,255, 0.9);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#winner-placeholder b {
  display: block;
}

form label {
  display: block;
  font-size: 20px;
}

form input {
  background: #0b9;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 20px;
}

button {
  margin: 10px auto;
  display: block;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  background: #0b9;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0a8;
}

button:hover {

}