body {
  background: #0da;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  color: #074;
}

body a {
  color: white;
}

header {
  background: #0b9;
}

header h1 {
  margin: 0;
  padding: 0 20px;
  line-height: 100px;
  font-weight: normal;
  color: white;
  opacity: 0.4;
}

#main-wrapper {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  text-align: center;
}

div.scene {
  height: 100%;
  position: absolute;
  top: 100px;
  left: 15%;
  right: 15%;
  padding: 20px;
}

div.player-column {
  width: 50%;
  float: left;
}

div.player-column input {
  color: white;
}

div.player-column input::-webkit-input-placeholder {
  color: white;
  opacity: 0.4;
}

div.board-cells {
  width: 306px;
  height: 306px;
  margin: 0 auto;
  margin-top: 0;
  opacity: 1;
  transition: opacity 1000ms, margin-top 500ms, width 500ms, height 500ms;
}

div.board-cells.is-hidden {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-top: -100px;
}

div.cell {
  background: #0b9;
  border: 1px dashed #0da;
  float: left;
  width: 32.5%;
  height: 32.5%;
  text-align: center;
  font-size: 5em;
  line-height: 100px;
  cursor: pointer;
}

div.cell:hover {
  background: #0a8;
}

div.player-names {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  position: relative;
}

div.player-names div {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 50%;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 30px;
  opacity: 0.3;
  transition: width 500ms, opacity 500ms, font-size 1s;
}

div.player-names div:first-child {
  text-align: left;
  padding-left: 0;
}

div.player-names div:last-child {
  right: 0;
  left: auto;
  padding-right: 0;
  text-align: right;
}

div.player-names div.on-turn {
  width: 100%;
  font-size: 30px;
  text-align: center;
  opacity: 1;
  color: white;
}

.player-0 {
  color: white;
}

.player-1 {
  color: #444;
}

.winner {
  color: red;
}

#winner-placeholder div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.4);
}

#winner-placeholder form {
  background: rgba(255,255,255, 0.9);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

#winner-placeholder b {
  display: block;
}

form label {
  display: block;
  font-size: 20px;
}

form input {
  background: #0b9;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 20px;
}

button {
  margin: 10px auto;
  display: block;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  background: #0b9;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0a8;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0.4;
  transition: opacity 500ms;
}

footer p {
  margin: 0;
}

footer:hover {
  opacity: 1;
}