<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe Game By Iliyan Betovski</title>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

  <script type="text/template" id="playersTemplate">
    <div class="scene">
      <p>Hello my friends.</p>
      <p>Do you want to play a game? Please enter you names here and let the fun starts.</p>
      <form>
        <div class="player-column player1">
          <input type="text" name="player1name" value="" placeholder="Player 1 name" autofocus/>
        </div>

        <div class="player-column player2">
          <input type="text" name="player2name" value="" placeholder="Player 1 name" />
        </div>

        <button type="submit">Start</button>
      </form>
    </div>
  </script>

  <script type="text/template" id="playerNamesTemplate">
    <div class="player-names">
      {{_.each(players, function(player, index) { }}
        {{ if (player.isOnTurn) { }}
          <div class="on-turn">{{=player.name}}</div>
        {{ } else { }}
          <div>{{=player.name}}</div>
        {{ } }}
      {{ }); }}
    </div>
  </script>

  <script type="text/template" id="boardTemplate">
    <div class="scene">
      {{ if (isFirstRender) { }}
        <div class="board-cells is-hidden">
      {{ } else { }}
        <div class="board-cells">
      {{ } }}
        {{_.each(items, function(item, index) { }}
        <div class="cell player-{{=item.sign}} {{= item.isWinner ? 'winner' : ''}}" data-index="{{=index}}">{{=item.signString}}</div>
        {{ }); }}
      </div>


    </div>
  </script>

  <script type="text/template" id="winnerTemplate">
    <form>
      <p>
        {{ if (typeof winner != 'undefined') { }}
        Ladies and gentlemen we have a winner! <b>{{=winner.name}}</b>
        {{ } else { }}
        <p>No winner my friends.</p>
        <p>You can try again.</p>
        {{ } }}
      </p>
      <button type="submit">Play again</button>
    </form>
  </script>

  <header>
    <h1>Tic-Tac-Toe game</h1>
  </header>

  <div id="main-wrapper">
    <!-- Player names //-->
    <div id="playersNames"></div>
    <div id="main"></div>
    <div id="winner-placeholder"></div>
  </div>
  <footer>
    <a href="https://github.com/ibetovski/TicTacToeGame">Source code</a> by <a href="https://github.com/ibetovski">Iliyan Betovski</a>
    <p><a href="http://ibetovski.github.io/test.html">You can run the tests</a></p>
  </footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script type="text/javascript" src="./app.bundle.js"></script>
</body>
</html>